<li class="job" {{bind-attr data-id='id'}}>
  {{#if editMode}}
    <form class="caminio" {{action 'save' on='submit'}}>

      <div class="row">
        <div class="col-md-12">
          {{view App.Select2SelectView
                  class='fill-width'
                  promptTranslation='person.select_or_create'
                  createTranslation='person.nothing_found_create_new'
                  createAction='createPerson'
                  contentBinding='parentController.availablePeople'
                  optionValuePath='content.id'
                  optionLabelPath='content.name'
                  selectionBinding='lineup_person'}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          {{view App.TypeaheadTextFieldView
          localContent=App._defaultJobs
          valueBinding="title"
          placeholderTranslation='job.description'
          class='form-control'}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <button class="btn primary pull-right">
            {{t 'save'}}
          </button>
          <button class="btn pull-right" {{action 'remove' this}}>
            {{t 'delete'}}
          </button>
          <a href="#" class="cancel pull-right" {{action 'toggleEditMode'}}>
            {{t 'cancel'}}
          </a>
        </div>
      </div>

    </form>

    {{else}}
    <div class="actions pull-right">
      <a class="btn transparent borderless move-job">
        <i class="fa fa-arrows"></i>
      </a>
      <button class="btn transparent borderless" {{action 'toggleEditMode'}}>
        <i class="fa fa-pencil"></i>
      </button>
      <button class="btn transparent borderless highlight-danger" {{action 'remove' content}}>
        <i class="fa fa-unlink"></i>
      </button>
    </div>
    <div class="job-name">{{title}}</div>
    <div class="person-name">{{lineup_person.name}}</div>
  {{/if}}
</li>
