<div class="box-header">
  <div class="box-title">

    <div class="ctrl">
      <button class="btn icon-text"
            {{action 'addJob'}}>
        <i class="fa fa-plus"></i>
        {{t 'jobs.add'}}
      </button>
    </div>
  
    {{t 'jobs'}}

  </div>
</div>

<div class="box-body default-padding">

  <ul class="jobs-list" id="lineup-jobs">
    {{#each lineup_jobs itemController='lineup_job'}}
      {{#unless isAuthor}}
        {{#unless isDirector}}
          {{partial 'lineup_jobs/item'}}
        {{/unless}}
      {{/unless}}
    {{else}}
      <li class="job">
        <div class="job-name">{{t 'jobs.no_yet'}}</div>
      </li>
    {{/each}}
  </ul>

</div>
