<ul class="navbar clearfix">
  <li>{{#link-to 'index' activeClass='active'}}{{t 'nav.overview'}}{{/link-to}}</li>
  <li>{{#link-to 'lineup_entries' activeClass='active'}}{{t 'nav.entries'}}{{/link-to}}</li>
  <li>{{#link-to 'lineup_orgs' activeClass='active'}}{{t 'nav.organizations'}}{{/link-to}}</li>
  <li>{{#link-to 'lineup_people' activeClass='active'}}{{t 'nav.people'}}{{/link-to}}</li>

  {{partial 'navbar-accounts'}}
</ul>
