<form class="caminio form-horizontal" {{action 'save' on='submit'}}>

  <div class="form-group">

    <label class="col-md-2 control-label required">{{t 'entry.title'}}</label>
    <div {{bind-attr class=":col-md-10 titleError:field-with-error"}}>
      {{input valueBinding='curTranslation.title' class='form-control' id="entry-title"}}
      {{#if titleError}}<span class="help-block">{{errors.title}}</span>{{/if}}
    </div>

  </div>

  <div class="form-group">

    <label class="col-md-2 control-label">{{t 'entry.subtitle'}}</label>
    <div class="col-md-10">
      {{input valueBinding='curTranslation.subtitle' class='form-control'}}
    </div>
    
  </div>

  <div class="form-group">

    <label class="col-md-2 control-label">{{t 'entry.description'}}</label>
    <div class="col-md-10 inline-editor">
      {{view App.CodeMirrorView
            valueBinding='curTranslation.content'}}
    </div>
    
  </div>

  <hr>
  
  <div class="form-group">

    <label class="col-md-2 control-label">{{t 'entry.ensembles'}}</label>
    <div class="col-md-10">
      {{view App.Select2SelectView
              class='fill-width'
              contentBinding='availableEnsembles'
              optionValuePath='content.id'
              optionLabelPath='content.name'
              selectionBinding='addEnsembleId'}}
    </div>
    
  </div>

  <hr>

  <div class="form-group">

    <label class="col-md-2 control-label">{{t 'entry.author'}}</label>
    <div class="col-md-10">
      {{input valueBinding='author' class='form-control'}}
    </div>
    
  </div>

  <div class="form-group">

    <label class="col-md-2 control-label">{{t 'entry.director'}}</label>
    <div class="col-md-10">
      {{input valueBinding='director' class='form-control'}}
    </div>
    
  </div>

  <hr>

  <div class="form-group">

    <label class="control-label col-md-2">{{t 'entry.category'}}</label>

    <div class="col-md-3">

      <div class="checkbox">
        {{input type='checkbox' checkedBinding='typeTTP'}}
        <label class="control-label">{{t 'entry.ttp'}}</label>
      </div>

    </div>
    <div class="col-md-2">

      <div class="checkbox">
        {{input type='checkbox' checkedBinding='typeCab'}}
        <label class="control-label">{{t 'entry.cab'}}</label>
      </div>

    </div>
    <div class="col-md-2">

      <div class="checkbox">
        {{input type='checkbox' checkedBinding='typeYouth'}}
        <label class="control-label">{{t 'entry.youth'}}</label>
      </div>

    </div>
    <div class="col-md-2">

      <div class="checkbox">
        {{input type='checkbox' checkedBinding='typeFes'}}
        <label class="control-label">{{t 'entry.fes'}}</label>
      </div>

    </div>
    
  </div>

  <hr>

  <div class="form-group">

    <label class="col-md-2 control-label">{{t 'entry.duration'}}</label>
    <div class="col-md-3">
      <div class="input-group">
        {{input valueBinding='durationMin' class='form-control align-right'}}
        <span class="input-group-addon">
          <i class="fa fa-clock-o"></i>
          min
        </span>
      </div>
    </div>
    
    <label class="col-md-2 col-md-offset-2 control-label">{{t 'entry.breaks'}}</label>
    <div class="col-md-3">

      <div class="input-group">
        {{input valueBinding='numBreaks' class='form-control align-right'}}
        <span class="input-group-addon">
          <i class="fa fa-male"></i>
          <i class="fa fa-female"></i>
        </span>
      </div>
    </div>

  </div>

  <hr>

  <div class="form-group">

    <label class="col-md-2 control-label">{{t 'entry.from_age_of'}}</label>
    <div class="col-md-3">
      <div class="input-group">
        {{input valueBinding='age' class='form-control align-right'}}
        <span class="input-group-addon">
          {{t 'entry.years'}}
        </span>
      </div>
    </div>
    
  </div>
  <div class="form-group">
    <div class="required-exp col-md-12 align-right">
      <span style="color: #d00">*</span>{{t required_fields}}
    </div>
  </div>

  <div class="form-group">
    <div class="required-exp col-md-offset-2 col-md-4">
      <span style="color: #d00">*</span>{{t required_fields}}
    </div>
  </div>

  <div class="form-group">

    <label class="col-md-2 control-label">{{t 'entry.press_voices'}}</label>
    <div class="col-md-10 inline-editor">
      {{view App.CodeMirrorView
            valueBinding='curTranslation.aside'}}
    </div>
    
  </div>

</form>