<div class="caminio-table-wrapper">
  <table class="caminio entries-table">
    <thead>
      <tr>
        <th class="favorite">
          <div {{bind-attr class=":checker someSelected:greyed"}} {{action 'selectAllTableItems'}}>
            <i {{bind-attr class=":fa oneOrMoreSelected:fa-check"}}></i>
          </div>
        </th>
        {{#each tableHeaders itemController='table_header_item'}}
        <th class="sortable" {{bind-attr style='calculateStyle'}}
           {{action 'sortByColumn' content.name}}>
          <span class="hide sortable-asc" {{action 'sortByColumn' content.name true}}></span>
          {{#if isSortingAsc}}
            <i class="fa fa-sort-asc"></i>
          {{else}}
            {{#if isSortingDesc}}
              <i class="fa fa-sort-desc"></i>
            {{else}}
              <i class="fa fa-sort"></i>
            {{/if}}
          {{/if}}
          <span>
            {{tKey content.title}}
          </span>
        </th>
        {{/each}}
        <th class="actions" style="width:70px"></th>
      </tr>
    </thead>
    <tbody>
      {{#each paginatedContent itemController='lineup_entry'}}
      <tr {{action 'editItem' content on='doubleClick'}}
        {{bind-attr class="isSelectedTableItem:active content.isSaving:block"}}>
        <td>
          <div class="checker" {{action 'selectTableItem'}}>
            <i {{bind-attr class=":fa isSelectedTableItem:fa-check"}}></i>
          </div>
        </td>
        <td>
          <div {{bind-attr class=":status-indicator :publish-indicator :btn content.isPublished:success content.isDraft:warning content.inReview:warning"}}
              {{action 'togglePublished'}}>
            <i {{bind-attr class=":fa content.isPublished:fa-globe:fa-lock"}}></i>
          </div>
          {{curTranslation.title}}
          {{#if isFestival}}
            <span class="label label-default">
              {{t 'entry.festival'}}
            </span>
          {{/if}}
          {{#if App.emberUser.isTrusted}}
          {{#each content.labels}}
            <span class="label" 
                  {{bind-attr style='styleAttrs'}}
                  {{bind-attr title='name'}}>{{name}}</span>
          {{/each}}
          {{/if}}
        </td>
        <td {{action 'selectTableItem'}}>{{period}}</td>
        <td {{action 'selectTableItem'}}>
          {{#each content.venues}}
          {{curTranslation.title}}
          {{/each}}
        </td>
        <td {{action 'selectTableItem'}}>{{smartDate content.updatedAt}}</td>
        <td {{action 'selectTableItem'}}>{{content.updatedBy.name}}</td>
        <td class="actions">
          <div class="btn-group">
            <a target="_blank" {{bind-attr href=content.previewLink}} class="btn"><i class="fa fa-eye"></i></a>
            {{#link-to 'lineup_entries.edit' content.id class="btn"}}<i class="fa fa-pencil"></i>{{/link-to}}
        </div>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <div class="caminio-table-footer">
    <span class="btn pale">{{t 'total'}}: <strong>{{content.length}}</strong></span>

    <ul class="pagination pull-right">
      <li><a href="#" {{action 'goToFirstPage'}}><i class="fa fa-angle-double-left"></i></a></li>
      {{#each closestPages itemController='table_footer_page_item'}}
        <li {{action 'goToPage' content}} {{bind-attr class="isActive:active"}}><a href="#">{{content}}</a></li>
      {{/each}}
      <li><a href="#" {{action 'goToLastPage'}}><i class="fa fa-angle-double-right"></i></a></li>
    </ul>

    {{view App.Select2SelectView
        class="pull-right select-num-rows"
        contentBinding="availableRows"
        noPrompt=true
        noSearch=true
        valueBinding="numRows"}}

  </div>
  <div class="loader"><i class="fa fa-refresh fa-spin"></i></div>
</div>
