<table class="caminio entries-table box fill-box">
  <thead>
    <tr>
      <th>{{t 'entry.title'}}</th>
      <th>{{t 'entry.date'}}</th>
      <th>{{t 'entry.venues'}}</th>
      <th>{{t 'updated_at'}}</th>
      <th>{{t 'updated_by'}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each model itemController='lineup_entry'}}
      <tr {{action 'editItem' content}}>
        <td>{{curTranslation.title}}</td>
        <td>{{period}}</td>
        <td>
          {{#each content.venues}}
            {{name}}
          {{/each}}
        </td>
        <td>{{formatDate content.updatedAt}}</td>
        <td>{{content.updatedBy.name}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>