<section class="plain-wrapper">

  <header>

    <div class="title-box">
      <div class="main-ctrl">

        <button 
            {{bind-attr class=":btn :icon-text isPublished:success:primary"}}
            target="_blank"
            {{action 'togglePublished'}}>
          {{#if isPublished}}
            {{t 'entry.published'}}
          {{else}}
            {{t 'entry.draft'}}
          {{/if}}
        </button>

        <button class="btn icon-text"
                {{action 'goToEntries'}}>
          <i class="fa fa-arrow-left"></i>
          {{t 'back'}}
        </button>

        <a class="btn icon-text" target="_blank"
            {{bind-attr href='previewLink'}}>
          <i class="fa fa-eye"></i>
          {{t 'preview'}}
        </a>
        
        <button {{bind-attr class='isDirty:primary curTranslation.isDirty:primary :btn :icon-text'}}
                {{action 'save'}}>
          <i class="fa fa-save"></i>
          {{t 'save'}}
        </button>

      </div>

      <h1>
        <span class="desc">{{t 'entry.title'}}</span><br>
        {{#if curTranslation.title}}
          {{curTranslation.title}}
        {{else}}
          I
        {{/if}}
      </h1>

    </div>

  </header>

  <div class="row span-row">

    <div class="col-md-8">
      <div class="box fill-box default-padding">
        {{partial 'lineup_entries/form'}}
      </div>
    </div>

    <div class="col-md-4">

      <div class="box fill-box">
        {{view 'lineup_media'}}
      </div>

      <div class="box fill-box margin-top">
        {{view 'lineup_events_list'}}
      </div>

      <div class="box fill-box margin-top">
        {{partial 'lineup_entries/links'}}
      </div>

      <div class="box fill-box margin-top">
        {{view 'lineup_jobs_list'}}
      </div>

    </div>

  </div>

</section>

{{outlet 'modal'}}