<section class="plain-wrapper">

  <header>
    <div class="box title-box website">
      <div class="main-ctrl">
        <button class="btn primary icon-text" {{action 'newItem'}}>
          <i class="fa fa-plus"></i>
          {{t 'entry.create'}}
        </button>
      </div>
      <h1>{{t 'entries.title'}}</h1>

    </div>

  </header>

  <div class="row span-row">

    <div class="col-md-8 animate-width" id="entries-table">
      {{outlet 'table'}}
    </div>

    <div class="col-md-4">
      {{partial 'lineup_entries/search'}}
    </div>

    <div class="col-md-8" id="entry-details" style="display:none">

      {{outlet 'details'}}

    </div>

  </div>

</section>
