<section class="plain-wrapper">

  <header>
    <div class="box title-box website">
      <div class="main-ctrl">
        <button class="btn primary icon-text" {{action 'newItem'}}>
          <i class="fa fa-plus"></i>
          {{t 'entry.create'}}
        </button>
        <div class="dropdown dropdown-hover as-btn">
          <button class="btn transparent borderless icon-only"><i class="fa fa-bars"></i></button>
          <ul class="dropdown-menu pull-right">
            <li>
                <a href="#"
                  {{action 'export' content}}>
                  {{t 'entries.export'}}
                </a>
            </li>
          </ul>
        </div>

      </div>
      </div>
      <h1>{{t 'entries.title'}}</h1>

    </div>

  </header>

  <div class="row span-row">

    <div class="col-sidebar">
      
      {{partial 'lineup_entries/search'}}

      {{#if App.emberUser.isTrusted}}
      <div class="box fill-box margin-top">
        {{partial 'lineup/labels'}}
      </div>
      {{/if}}

    </div>

    <div class="col-table animate-width" id="entries-table">
      {{outlet 'table'}}
    </div>

  </div>

</section>
