<li {{bind-attr class=":lineup-event editMode:editing pastEvent:past"}}>
  {{#if editMode}}
    <form class="caminio" {{action 'save' on='submit'}}>

      <div class="row">
        <div class="col-md-12">
          {{view App.Select2SelectView
                  class='fill-width'
                  promptTranslation='event.select_venue'
                  createTranslation='event.nothing_found_create_new'
                  createAction='createVenue'
                  contentBinding='parentController.availableVenues'
                  optionValuePath='content.id'
                  optionLabelPath='content.curTranslation.title'
                  selectionBinding='lineup_org'}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-7 date">
          <div class="input-group">
            {{input valueBinding='startsDate' class="datepicker form-control" placeholderTranslation='event.starts_placeholder'}}
            <span class="input-group-addon trigger-datepicker">
              <i class="fa fa-calendar-o"></i>
            </span>
          </div>
        </div>
        <div class="col-md-5 time-prices">
          <div class="input-group">
            {{input valueBinding='startsTime' class="timepicker form-control" placeholderTranslation='event.starts_time_placeholder'}}
            <span class="input-group-addon">
              <i class="fa fa-clock-o"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="btn primary pull-right">
            {{t 'save'}}
          </button>
          <button class="btn highlight-danger pull-right" {{action 'remove' this}} {{translateAttr title='delete'}}>
            {{t 'delete'}}
          </button>
          <a href="#" class="edit-prices pull-right" {{action 'toggleEditMode'}}>
            {{t 'cancel'}}
          </a>
          <a class="edit-prices pull-right">
            {{t 'event.edit_prices'}}
          </a>
        </div>
      </div>
    </form>

  {{else}}
    <div class="day">
      <div class="month">{{formatDate starts format='MMMM'}}</div>
      <div class="daynum">{{formatDate starts format='DD'}}</div>
      <div class="dayname">{{formatDate starts format='dddd'}}</div>
      {{#thisYear starts}}
      {{else}}
      <div class="label label-warning year">{{formatDate starts format='YYYY'}}</div>
      {{/thisYear}}
    </div>
    <div class="title">
      <div class="actions pull-right">
        <button class="btn transparent borderless icon-only" {{action 'toggleEditMode'}}>
          <i class="fa fa-pencil"></i>
        </button>
        <button class="btn borderless transparent icon-only highlight-danger" {{action 'remove' content}}>
          <i class="fa fa-trash-o"></i>
        </button>
      </div>
      {{formatDate starts format='HH:mm'}}
      {{#link-to 'lineup_orgs.edit' lineup_org.id}}
      {{lineup_org.curTranslation.title}}
      {{/link-to}}
    </div>
  {{/if}}
</li>
